*.class
 
# Package Files #
*.jar
*.war
*.ear
*.zip
 
# ignore Maven generated target folders
target
 
# ignore eclipse files
.project
.classpath
.settings
.metadata
.pydevproject

# ignore log
gc.log
